#page-content .onlyoffice .activityinstance > a {
    display: inline-block;
}

.path-course-view .onlyoffice img.activityicon  {
    padding: 4px;
}

.onlyoffice-container > iframe {
    height: 80vh;
    max-height: 60rem;
}

#onlyoffice-editor.error {
    color: var(--danger);
}

.onlyoffice .file-ext {
    text-transform: uppercase;
    color: var(--bs-body-color);
    &::before {
        content: '[';
    }
    &::after {
        content: ']';
    }
}
